<!DOCTYPE html>
<html>
<head>
	<title>CS4 - Home</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
</head>
<body>
	<div class="header">
		<h1>CS4 - <span>there is nothing at the top but lets do it</span></h1>
		<ul>
		  <li><a class="active" href="index.html">Home</a></li>
		  <li><a href="search.html">Doctors</a></li>
		  <li><a href="profile.html">Profile</a></li>
		  <li><a href="appointment.html">Appointment</a></li>
		  <li><a href="profile.html">List</a></li>
		  <li class="right"><a href="#about">Login</a></li>
		  <li class="right">
		  	<form> <input type="text" class="search" placeholder="Search..."></input></form>
		  </li>
		  
		</ul>
	</div>
	<!-- header ends here -->
	<div class="content">
		<h1>Registration</h1>
		<!-- main content -->

		<div class="loginContainer">
			<div class="registerbox">
			<form>
				<p>
					My name is <input type="text" placeholder="firstname"></input> <input type="text" placeholder="lastname"></input>
				</p>
				<p>
					My Address is <input type="text" placeholder="Street"></input>, <input type="text" placeholder="City"></input>, <input type="text" placeholder="State"></input>
				</p>
				<p>
					My E-mail is <input type="email" placeholder="youremail@email.com"></input>
				</p>
				<p>
					I would like to add my password as <input type="password" placeholder="password"></input>, yes my password is <input type="password" placeholder="retype password"></input>
				</p>
				<p>
					Yes, now I want to <input type="submit" value="Register"></input>
				</p>
			</form>
			</div>
		</div>
		<br>
		
	</div>

	<!-- footer -->
	<div class="footer">
		<p>All right reserved @2016</p>
		<p>Appointment reserved system</p>
	</div>
</body>
</html>