<!DOCTYPE html>
<html>
<head>
	<title>CS4 - Home</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
</head>
<body>
	<div class="header">
		<h1>CS4 - <span>there is nothing at the top but lets do it</span></h1>
		<ul>
		  <li><a class="active" href="index.html">Home</a></li>
		  <li><a href="search.html">Doctors</a></li>
		  <li><a href="profile.html">Profile</a></li>
		  <li><a href="appointment.html">Appointment</a></li>
		  <li><a href="profile.html">List</a></li>
		  <li class="right"><a href="#about">Login</a></li>
		  <li class="right">
		  	<form> <input type="text" class="search" placeholder="Search..."></input></form>
		  </li>
		  
		</ul>
	</div>
	<!-- header ends -->

	<div class="content">
		<h1>Search Results</h1>
		
		<div class="main">
			<!-- latest posts related to the user -->
			

			<div class="lists">
				<div class="imagesection">
					<img src="http://www.keenthemes.com/preview/metronic/theme/assets/pages/media/profile/profile_user.jpg" class="userpic" title="doctor" alt="doctor">
				</div>
				<div class="detailsection">
				 	<span class="name"><a href="profile.html">Dr. Steven Wilson</a></span><br>
				 	<span>Specialist : Gynocologist, Heart Expert</span><br>
				 	<span>Address : 1000 N Fairfield Iowa</span><br>
				 	<span>Contact : +1 641 451 3151</span><br>
				 	<span>Email : awesomedr@gmail.com</span>
				</div>
			</div>

			<div class="lists">
				<div class="imagesection">
					<img src="http://www.keenthemes.com/preview/metronic/theme/assets/pages/media/profile/profile_user.jpg" class="userpic" title="doctor" alt="doctor">
				</div>
				<div class="detailsection">
				 	<span class="name"><a href="profile.html">Dr. Steven Wilson</a></span><br>
				 	<span>Specialist : Gynocologist, Heart Expert</span><br>
				 	<span>Address : 1000 N Fairfield Iowa</span><br>
				 	<span>Contact : +1 641 451 3151</span><br>
				 	<span>Email : awesomedr@gmail.com</span>
				</div>
			</div>

			<div class="lists">
				<div class="imagesection">
					<img src="http://www.keenthemes.com/preview/metronic/theme/assets/pages/media/profile/profile_user.jpg" class="userpic" title="doctor" alt="doctor">
				</div>
				<div class="detailsection">
				 	<span class="name"><a href="profile.html">Dr. Steven Wilson</a></span><br>
				 	<span>Specialist : Gynocologist, Heart Expert</span><br>
				 	<span>Address : 1000 N Fairfield Iowa</span><br>
				 	<span>Contact : +1 641 451 3151</span><br>
				 	<span>Email : awesomedr@gmail.com</span>
				</div>
			</div>

			
			<!-- latest posts ends -->
		</div>

		<div class="sidebar">
			<ol>
			  <li><a href="#home">New Requests</a></li>
			  <li><a href="#news">My Patients</a></li>
			  <li><a href="#contact">Calender</a></li>
			  <li><a href="#about">Annual Report</a></li>
			</ol>
		</div>
	</div>

	<!-- header footer starts -->
	<div class="footer">
		<p>All right reserved @2016</p>
		<p>Appointment reserved system</p>
	</div>
</body>
</html>